global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: digital-wardrobe-backend
    scheme: https
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - digital-wardrobe-backend-beta-1-0-0.onrender.com:443
