global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: digital-wardrobe-backend
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - host.docker.internal:8080
